.carrocel{
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
    gap: 1em;
    
}
.carrocel::-webkit-scrollbar{
    display: none;
}
.G1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: car 5s infinite linear;

}
.CC{
    width: 300px;
    flex: 0 0 5em;
}
@keyframes car{
    from{translate: 0;}
    to{translate: -100%;}
}